
<div class="buy-section-container">
{% if lang == 'he' %}
  <h2>איפה להשיג?</h2>
  
  <div class="buy-section-item">
    <strong>בישראל:</strong> <a href="https://bookpod.co.il/product/%d7%90%d7%95%d7%a8-%d7%94%d7%a9%d7%9d/">BookPod</a>
    
    
    <a class="button" href="https://bookpod.co.il/product/%d7%90%d7%95%d7%a8-%d7%94%d7%a9%d7%9d/">קנה עכשיו</a>
  </div>

  <div class="buy-section-item">
    <strong>בארץ ובחו"ל:</strong> <a href="https://www.amazon.com/dp/9655982092">Amazon.com</a>
    
    
    <a class="button" href="https://www.amazon.com/dp/9655982092">לרכישה באמזון</a>

    <p><strong>זירות מסחר של Amazon במדינות אחרות:</strong></p>
        <ul class="marketplaces">
          <li><a href="https://www.amazon.co.uk/dp/9655982092">UK</a></li>
          <li><a href="https://www.amazon.de/dp/9655982092">DE</a></li>
          <li><a href="https://www.amazon.fr/dp/9655982092">FR</a></li>
          <li><a href="https://www.amazon.es/dp/9655982092">ES</a></li>
          <li><a href="https://www.amazon.it/dp/9655982092">IT</a></li>
          <li><a href="https://www.amazon.nl/dp/9655982092">NL</a></li>
          <li><a href="https://www.amazon.pl/dp/9655982092">PL</a></li>
          <li><a href="https://www.amazon.se/dp/9655982092">SE</a></li>
          <li><a href="https://www.amazon.co.jp/dp/9655982092">JP</a></li>
          <li><a href="https://www.amazon.ca/dp/9655982092">CA</a></li>
          <li><a href="https://www.amazon.com.au/dp/9655982092">AU</a></li>
        </ul>
      
  </div>

  
{% else %}

  <h2>Where to buy?</h2>
  
  <div class="buy-section-item">
    <strong>In Israel:</strong> <a href="https://bookpod.co.il/product/%d7%90%d7%95%d7%a8-%d7%94%d7%a9%d7%9d/">BookPod</a>
    
    
    <a class="button" href="https://bookpod.co.il/product/%d7%90%d7%95%d7%a8-%d7%94%d7%a9%d7%9d/">Buy now on BookPod</a>
  </div>

  <div class="buy-section-item">
    <strong>Internationally:</strong> <a href="https://www.amazon.com/dp/9655982092">Amazon.com</a>
    
    
    <a class="button" href="https://www.amazon.com/dp/9655982092">Buy now on Amazon</a>

    <p><strong>Other Amazon marketplaces:</strong></p>
        <ul class="marketplaces">
          <li><a href="https://www.amazon.co.uk/dp/9655982092">UK</a></li>
          <li><a href="https://www.amazon.de/dp/9655982092">DE</a></li>
          <li><a href="https://www.amazon.fr/dp/9655982092">FR</a></li>
          <li><a href="https://www.amazon.es/dp/9655982092">ES</a></li>
          <li><a href="https://www.amazon.it/dp/9655982092">IT</a></li>
          <li><a href="https://www.amazon.nl/dp/9655982092">NL</a></li>
          <li><a href="https://www.amazon.pl/dp/9655982092">PL</a></li>
          <li><a href="https://www.amazon.se/dp/9655982092">SE</a></li>
          <li><a href="https://www.amazon.co.jp/dp/9655982092">JP</a></li>
          <li><a href="https://www.amazon.ca/dp/9655982092">CA</a></li>
          <li><a href="https://www.amazon.com.au/dp/9655982092">AU</a></li>
        </ul>
      
  </div>

{% endif %}
</div>

